.Ishop
{
    margin: 40px auto;
    width: 57%;
}

.Ishop .ShopName
{
    color: red;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.Ishop .table
{
    padding-top: 10px;
    border-collapse: unset;

}

.Ishop .table .product
{
    border: 1px solid blue;
    padding: 5px;
}

.Ishop .table .body
{
    cursor: pointer;
}