.footer {
    background: #202020;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.footer-title {
    font-size: 15px;
    color: aliceblue;  
}

@media (max-width: 320px) {

    .footer {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 5px;
    }
    
    .footer-title {
        font-size: 10px;  
    }
}