.basket_order {
    display: grid;
    grid-template-columns: 13% 30% 30%;
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 30px;
    font-weight: bold;
    padding-left: 20px;
    box-shadow: 0 5px 1px -2px rgba(22,35,23,.5);
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn_basket_add {
    width: 200px;
	height: 50px;
	padding: 7px;
    margin: 7px;
    text-decoration: none;
	background-color: #71ec0c;
	color: #202020;
	font-size: 15px;
	font-weight: bold;
	border: 3px solid #202020;
    border-radius: 10px;
    line-height: 80px;
}

.wrapper_basketList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
    box-shadow: 0 5px 1px -2px rgba(22,35,23,.5);
    border: 1px solid lightgray;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 20px;
}


.btn_addProduct{
    text-decoration: none;
    border: 3px solid #202020;
    font-size: 20px;
    color: #202020;
    background-color: yellow;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    
    margin: 10px 10px;
    
}
.btn_basket {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    
}

.order_form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

}

.order_titlle {
font-size: 15px;
text-align: center;
background-color: yellow;
    border-radius: 3px;

}

.input_form {
    width: 200px;
	height: 30px;
    padding-left: 5px;
	line-height: 14px;
	font-size: 14px;
	border: 1px solid #202020;
	border-radius: 3px;
	outline: none;
}

.btn_basket_buy {
    line-height: 32px;
    font-size: 11.5px;
    font-weight: bolder;
}

.form_price {
    font-size: 22px;
    color: #202020;
}

.btn_basket_buy_activity {
    width: 214px;
    height: 52px;
    padding-left: 5px;
    line-height: 14px;
    font-size: 20px;
    border: 1px solid #202020;
    border-radius: 12px;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.btn_basket_buy_activity:disabled {
	background-color: rgba(175, 179, 177, 0.904);
	color: white;		
	font-size: 20px;
		
}

.success_order {
    font-size: 20px;
    MARGIN-LEFT: 38px;
}

.btn_order_ok {
    width: 194px;
    MARGIN-LEFT: 30px;
    height: 71px;
    padding-left: 5px;
    line-height: 14px;
    font-size: 59px;
    border: 6px solid GREEN;
    border-radius: 12px;
    background-color: WHITE;
    color: GREEN;
    font-weight: bold;
}

.btn_order_ok:hover {
	border: 6px solid GREEN;
    border-radius: 12px;
    background-color: green;
    color: white;
		
}

@media (max-width: 1024px) {

    .wrapper_basketList {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .basket_order {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}


@media (max-width: 768px) {

    .wrapper_basketList {
        display: grid;
        grid-template-columns:  1fr 1fr;
        
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .basket_order {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}


@media (max-width: 425px) {

.btn_basket {
    font-size: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.btn_addProduct {
   
    font-size: 15px;
    color: #202020;
    background-color: yellow;
    border-radius: 3px;
    padding: 4px;
    font-weight: bold;
}
.wrapper_basketList {
    display: grid;
    grid-template-columns:  1fr;
    
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.basketPage_header {
font-size: 20px;
}

.basket_order {
    display: grid;
    grid-template-columns: 50% 50%;
}

.btn_basket_add {
    width: 100px;
    height: 30px;
    font-size: 10px;
    line-height: 63px;
}
.order_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;

    }

}